#root{
    display: flex;
    justify-content: center;
    padding: 20px;
}
header{
  width: 100%;
  color: #350836;
}

section img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 14px;
  box-shadow: #350836 0px 0px 0px 4px;
}
.ct-header{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;

}
.App{
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#824783;
}
.App h1{
  margin-bottom: 24px;
  color: #350836;
}
.App input,
app input:focus{
  width: 50%;
  padding: 24px;
  background: #e6e6e6;
  border-radius: 5px;
  border:none;
  box-sizing: border-box;
  font-size: 16px;
  outline-color: #673ab7;
}
.App button{
  width: 50%;
  padding: 24px;
  background: #ea4c89;
  color:#fff;
  border-radius: 5px;
  border: none;
  margin: 12px 0 84px;
  cursor: pointer;
  transition: fillter 0.2s ;
  font-size: 16px;
}

@media (max-width:768px){
  .App {
  width: 95%;
  }
  .App input, .App button{
      width: 80%;
  }
  .card {
  width: 80%;
  }
}

@media (max-width:500px){
  .App input, .App button{
      width: 95%;
  }
  .card {
  width: 95%;
  }
}