.card{
    width: 50%;
    height: 70px;
    background: #5c295c;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
}

.card strong{
    font-size: 18px;
}